Source: virtualizm-wsproxy
Section: net
Priority: optional
Maintainer: Michael Furmur <m.furmur@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5

Package: virtualizm-wsproxy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WS to TCP proxy
 Simple daemon to proxify WebSocket connections to TCP
